<div id="#panel<%= i + 1 %>" class="question essay_answer round panel" panel_number="<%= i + 1 %>">
  <div class="column">
    <h3><%= i + 1 %>. <%= q.question %></h3>
    <div class="answer">
      <%= text_area_tag "#{q.id}", nil, :rows => 5, :cols => 56, :class => "validate[required]" %> 
    </div>
  </div>
  <div class="column">
    <%= image_tag(q.pictures.last.pic.url(:regular), :height => "125") unless q.pictures.empty? %>
  </div>
</div>