<div id="#panel<%= i + 1 %>" class="question short_answer round panel" panel_number="<%= i + 1 %>">
  <div class="column">
    <h3><%= i + 1 %>. <%= q.question %></h3>
    <% q.ko_answers.each do |a| %>
      <div class="answer">
        <%= hidden_field_tag "#{q.id}[answer_id]", "#{a.id}"%>
        <%= text_area_tag "#{q.id}[student_answer]", nil, :rows => 5, :cols => 56 %> 
      </div>
    <% end %>
  </div>
  <div class="column">
    <%= image_tag(q.pictures.last.pic.url(:regular), :height => "125") unless q.pictures.empty? %>
  </div>
</div>