<%= form_for @classroom do |f| %>
  <%= render :partial => 'layouts/error_block', :locals => {:obj => @classroom} %>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.collection_select(:student_id, current_teacher.account.students, :id, :full_name, {:prompt => "Select A Student"}) %>
  </div>
  <div class="field">
    <%= f.submit "Add Student", :class => 'button blue_button' %>
  </div>
<% end %>
