<%= form_for @classroom do |f| %>
  <%= render :partial => 'layouts/error_block', :locals => {:obj => @classroom} %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.submit "Add Classroom", :class => 'button blue_button' %>
  </div>
<% end %>
