<%= form_for(@student) do |f| %>
  <%= render :partial => "layouts/error_block", :locals => {:obj => @student} %>
  <%= hidden_field_tag :classroom_id, classroom_id %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.submit button_text, :class => 'button blue_button' %>
  </div>
<% end %>
