<div class="field question_counter_block">
  <%= f.label :question, :class=> "counter" %>Chars Left: <span class="char-count">255</span> <%= f.link_to_remove "Remove Question" %>
  <%= f.text_field :question, :maxlength => 255, :class => "question_input" %>
</div>
<div class="field">
  <%= f.label :question_type, "Question Type" %><br/>
  <%= f.select(:question_type, %w[Multiple_Choice Short_Answer Essay]) %>
</div>
<div class="field small_field">
  <%= f.label :score, "Score" %><br/>
  <%= f.text_field :score %>
</div>
<div class="field small_field">
  <%= f.label :order, "Order" %><br/>
  <%= f.text_field :order %>
</div>
<div class="field">
  <%= label_tag "Upload Picture" %>
  <%= f.file_field :question_pic %>
</div>
<div class="field">
  <%= f.label :details, "Details" %><br/>
  <%= f.text_field :details %>
</div>
<div class="field">
  <%= f.label :example, "Example" %><br/>
  <%= f.text_field :example %>
</div>
<div class="answer_section section">
  <%= f.fields_for :answers do |a| %>
    <%= render :partial => 'lesson_templates/answer_fields', :locals => {:f => a} %>
  <% end %>
  <%= f.link_to_add "Add Answer", :answers %>
</div>
