<% content_for :page_actions do %>
   <div id="launch_button">
     <%= link_to 'Create A Lesson', new_lesson_template_path(:teacher_id => current_teacher.id), :id => "add_template", :class => "button green_button add add_form" %>
   </div>
<% end %>

<div class="content_segment top_hr">
  <h2 class="user_name"><%= (current_teacher.full_name).titleize %></h2>
  <div class="clear"></div>
  
  <% if @teacher_templates %>
    <h3>My Lessons (private)</h3>
    <div id="student_lessons" class="round">
      <%= render :partial => "lesson_templates/listed_templates", :locals => {:templates => @teacher_templates} %>
    </div>
  <% else %>
    <h3>Public Lessons</h3>
    <div id="student_lessons" class="round">
      <%= render :partial => "lesson_templates/listed_templates", :locals => {:templates => @templates} %>
    </div>
    <div class="clear"></div>
    <h3>Account Lessons</h3>
    <div id="student_lessons" class="round">
      <%= render :partial => "lesson_templates/listed_templates", :locals => {:templates => @account_templates} %>
    </div>
  <% end %>

</div>

<% content_for :overlays do %>
  <div id="help_window" class="overlay simple_overlay">
    <div class="close"></div>
    <div class="content">
      <h2>Welcome to Test Builder!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
<% end %>

<% content_for :javascripts do %>
<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function() {
    triggers.viewQuestions();
  });
</script>
<% unless @teacher_templates %>
  <% if @templates.empty? %>
    <script type="text/javascript" charset="utf-8">
      jQuery(document).ready(function() {
        triggers.viewQuestions();
        overlays.triggerWelcomeWindow();
      });
    </script>
  <% end %>
<% end %>
<% end %>