<h1>Listing lesson_templates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Questions count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lesson_templates.each do |lesson_template| %>
  <tr>
    <td><%= lesson_template.name %></td>
    <td><%= lesson_template.questions_count %></td>
    <td><%= link_to 'Show', lesson_template %></td>
    <td><%= link_to 'Edit', edit_lesson_template_path(lesson_template) %></td>
    <td><%= link_to 'Destroy', lesson_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lesson template', new_lesson_template_path %>
