<%= form_for(@answer) do |f| %>
  <%= render :partial => 'layouts/error_block', :locals => {:obj => @answer} %>

  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </div>
  <div class="field">
    <%= f.label :correct %><br />
    <%= f.check_box :correct %>
  </div>
  <div class="field">
    <%= f.submit "Create Answer", :class => 'create_button' %>
  </div>
<% end %>
