<%= form_for @lesson do |f| %>
  <%= render :partial => 'layouts/error_block', :locals => {:obj => @lesson} %>
  <% if @student %>
    <%= f.hidden_field :student_id, :value => @student.id %>
  <% end %>
  <div class="field">
    <%= f.label :lesson_template_id, "Choose Lesson" %><br />
    <%= f.collection_select(:lesson_template_id, current_teacher.lesson_templates, :id, :name, {:prompt => "Choose Lesson"}) %>
  </div>
  <% unless @student %>
    <div class="field">
      <%= f.label :student_id %><br />
      <%= f.collection_select(:student_id, current_teacher.students, :id, :full_name, {:prompt => "Select A Student"}) %>
    </div>
  <% end %>
  <div class="field">
    <%= f.submit "Assign Lesson", :class => 'button blue_button' %>
  </div>
<% end %>

