<%= form_for(@lesson) do |f| %>
  <%= render :partial => 'layouts/form_errors', :locals => {:obj => @lesson} %>

  <div class="field">
    <%= f.label :lesson_template_id %><br />
    <%= f.text_field :lesson_template_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :video_watched %><br />
    <%= f.check_box :video_watched %>
  </div>
  <div class="field">
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_area :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
