<%= form_for(@teacher) do |f| %>
  <%= render :partial => "layouts/error_block", :locals => {:obj => @teacher} %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Retype Password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field checkbox stacked">
    <%= f.check_box :admin %><%= f.label :admin %>
  </div>
  <div class="field">
    <%= f.submit button_text, :class => 'button blue_button' %>
  </div>
<% end %>
