<div id="main_nav">
  <ul>
    <li class="home active">
      <%= link_to "Home", "" %>
    </li>
    <li>
      <%= link_to "Page2", "" %>
    </li>
    <li>
      <%= link_to "Page3", "" %>
    </li>
    <li>
      <%= link_to "Page4", "" %>
    </li>
    <li>
      <%= link_to "Page5", "" %>
    </li>
    <li>
      <%= link_to "Page6", "" %>
    </li>
    <li>
      <%= link_to "Page7", "" %>
    </li>
  </ul>
</div>
<%#= render :partial => "layouts/search" %>