<div id="main_nav">
  <ul>
    <li class="home active">
      <%= link_to "Home", "" %>
    </li>
    <li>
      <%= link_to "Agenda", "" %>
    </li>
    <li>
      <%= link_to "Speakers", "" %>
    </li>
    <li>
      <%= link_to "Conference", "" %>
    </li>
    <li>
      <%= link_to "Venue", "" %>
    </li>
    <li>
      <%= link_to "Events", "" %>
    </li>
    <li>
      <%= link_to "Registration", "" %>
    </li>
  </ul>
</div>
<%#= render :partial => "layouts/search" %>