<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <%= render :partial => "layouts/headmeta" %>
</head>
<body>
  <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
  <div id="mast_header">
    <header>
      <%= render :partial => "layouts/header" %>
    </header>
    <div class="clear"></div>
  </div>
  <div id="mast_banner">
    <%= yield :banner %>
    <div class="clear"></div>
  </div>
  <div id="mast_content">
    <div id="bd" class="clearfix">
      <%= yield %>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div id="mast_footer">
    <footer>
      <%= render :partial => "layouts/footer" %>
      <div class="clear"></div>
    </footer>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
	<%= render :partial => "layouts/scripts" %>
</body>
</html>