<%= form_for(@account) do |f| %>
  <%= render :partial => "layouts/error_block", :locals => {:obj => @account} %>
  <div class="field">
    <%= f.label :name, "Account Name" %><br />
    <%= f.text_field :name, "data-validate" => "validate(required)"%>
  </div>
  <%= f.fields_for :teachers do |t| %>
    <div class="field">
      <%= t.label :first_name %><br />
      <%= t.text_field :first_name, "data-validate" => "validate(required)" %>
    </div>
    <div class="field">
      <%= t.label  :last_name %><br />
      <%= t.text_field :last_name, "data-validate" => "validate(required)" %>
    </div>
    <div class="field">
      <%= t.label  :email %><br />
      <%= t.text_field :email, "data-validate" => "validate(required, email)" %>
    </div>
    <div class="field">
      <%= t.label  :password %><br />
      <%= t.password_field :password, "data-validate" => "validate(required)" %>
    </div>
    <div class="field">
      <%= t.label  :password_confirmation, "Repeat Password" %><br />
      <%= t.password_field :password_confirmation, "data-validate" => "validate(required)" %>
    </div>
    <%= t.hidden_field :admin, :value => 1 %>
  <% end %>
  <div class="field">
    <%= f.submit button_text, :class => 'button blue_button' %>
  </div>
<% end %>
